In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import os

In [163]:
file_name = "missionNightlyUpdate_job20250212_105915.csv"
dir_path = os.getcwd()
data_path = os.path.abspath(os.path.join(dir_path, file_name))

In [171]:
df = pd.read_csv(data_path)
len(df)

132

In [205]:
active_customer_columns = ["MissionId",
                          "NumberOfLeads",
                          "FilterLoading", 	
                          "DeathStatusUpdate",
                          "DeleteInvalidUnpaid",
                          "DisableInvalidAndStoplists",
                          "UpdateCurrentPaid",
                          "AddNewUnpaid",
                          "PurchaseUnpaid",
                          "CalculateLeads",
                          "MapcloudMarkers",
                          "totalMissionTime"]

operations = ["FilterLoading",
              "ReservationStatusUpdate",
              "DeathStatusUpdate",
              "DeleteInvalidUnpaid",
              "DisableInvalidAndStoplists",
              "UpdateCurrentPaid",
              "AddNewUnpaid",
              "PurchaseUnpaid",
              "CalculateLeads",
              "MapcloudMarkers",
              "totalMissionTime"]

In [206]:
df_activeCustomer = df[df["isCustomerActive"] == True]
# len(df_activeCustomer)

In [207]:
df_activeCustomer = df_activeCustomer[active_customer_columns]
df_activeCustomer.sort_values(by=['NumberOfLeads'], ascending=False)

,MissionId,NumberOfLeads,FilterLoading,DeathStatusUpdate,DeleteInvalidUnpaid,DisableInvalidAndStoplists,UpdateCurrentPaid,AddNewUnpaid,PurchaseUnpaid,CalculateLeads,MapcloudMarkers,totalMissionTime
8,24451,5319,0,150,843.0,NaN,13156.0,3445.0,NaN,40.0,NaN,17634
10,24447,2841,0,201,763.0,NaN,4171.0,3984.0,NaN,32.0,NaN,9151
69,24286,2578,0,150,958.0,NaN,77011.0,10658.0,NaN,17.0,NaN,88794
129,24131,1862,0,197,3000.0,NaN,16386.0,4693.0,NaN,30.0,NaN,24306
116,24170,1566,0,135,495.0,NaN,4098.0,3543.0,NaN,19.0,NaN,8290
45,24349,1380,0,208,705.0,NaN,3324.0,6556.0,NaN,23.0,NaN,10816
94,24213,990,0,127,570.0,NaN,28126.0,2972.0,NaN,28.0,NaN,31823
112,24174,892,0,112,441.0,NaN,2764.0,3175.0,NaN,19.0,NaN,6511
54,24327,851,0,120,745.0,NaN,4883.0,4274.0,NaN,17.0,NaN,10039
106,24189,804,0,403,744.0,NaN,43223.0,9422.0,NaN,15.0,NaN,53807
117,24169,795,0,156,481.0,NaN,21174.0,3079.0,NaN,16.0,NaN,24906
91,24216,781,0,128,639.0,NaN,23436.0,3183.0,NaN,15.0,NaN,27401
122,24150,751,0,181,402.0,758.0,22900.0,3306.0,26.0,21.0,NaN,27594
105,24190,709,0,194,813.0,NaN,2951.0,3856.0,NaN,26.0,NaN,7840
58,24311,612,0,146,799.0,NaN,3180.0,6836.0,NaN,55.0,NaN,11016
115,24171,605,0,111,444.0,NaN,2997.0,3025.0,NaN,20.0,NaN,6597
36,24375,566,0,130,862.0,1929.0,7237.0,3763.0,48.0,18.0,NaN,13987
83,24237,552,0,135,542.0,NaN,4029.0,2908.0,NaN,18.0,NaN,7632
81,24252,472,0,159,737.0,NaN,20665.0,8825.0,NaN,17.0,NaN,30403
92,24215,444,0,122,610.0,NaN,2699.0,3795.0,NaN,71.0,NaN,7297
126,24136,429,0,130,376.0,NaN,5203.0,5677.0,NaN,22.0,NaN,11408
108,24180,343,0,137,1119.0,NaN,24417.0,9037.0,NaN,24.0,NaN,34734
20,24412,315,0,113,695.0,NaN,2653.0,3308.0,NaN,22.0,NaN,6791
51,24336,303,0,186,3254.0,NaN,57856.0,9434.0,NaN,23.0,NaN,70753
11,24445,301,0,149,824.0,NaN,75046.0,10216.0,NaN,34.0,NaN,86269
65,24290,298,0,106,647.0,NaN,15606.0,8932.0,NaN,43.0,NaN,25334
13,24443,281,0,116,421.0,NaN,21307.0,8740.0,NaN,19.0,NaN,30603
47,24346,257,0,145,556.0,1315.0,5692.0,3837.0,28.0,13.0,NaN,11586
125,24137,254,0,140,622.0,NaN,6987.0,3059.0,NaN,30.0,NaN,10838
79,24254,247,0,134,869.0,NaN,67976.0,9437.0,NaN,21.0,NaN,78437
93,24214,229,0,168,573.0,NaN,2711.0,3692.0,NaN,24.0,NaN,7168
35,24376,186,0,113,918.0,NaN,19942.0,9241.0,NaN,19.0,NaN,30233
104,24193,181,0,133,711.0,NaN,50096.0,9045.0,NaN,19.0,NaN,60004
7,24453,162,0,197,4302.0,NaN,10017.0,11139.0,NaN,18.0,NaN,25673
114,24172,156,0,102,1028.0,NaN,27632.0,8602.0,NaN,14.0,NaN,37378
59,24305,150,0,135,768.0,NaN,52664.0,9504.0,NaN,19.0,NaN,63090
66,24289,132,0,204,2310.0,NaN,11671.0,9176.0,NaN,27.0,NaN,23388
44,24351,125,0,214,585.0,NaN,2703.0,2982.0,NaN,19.0,NaN,6503
19,24413,120,0,127,680.0,NaN,28110.0,8796.0,NaN,17.0,NaN,37730
42,24353,88,0,105,676.0,1064.0,8048.0,3769.0,16.0,19.0,NaN,13697
100,24200,80,0,120,479.0,NaN,2475.0,3338.0,NaN,35.0,NaN,6447
18,24415,53,0,122,656.0,NaN,3185.0,3397.0,NaN,34.0,NaN,7394
9,24450,46,0,136,795.0,NaN,100134.0,9144.0,NaN,22.0,NaN,110231
75,24265,22,0,130,652.0,NaN,7982.0,6378.0,NaN,19.0,NaN,15161
127,24135,18,0,134,720.0,NaN,8278.0,11573.0,NaN,17.0,NaN,20722
128,24133,17,0,132,471.0,NaN,8441.0,6674.0,NaN,16.0,NaN,15734
67,24288,10,0,129,622.0,1173.0,12442.0,6607.0,23.0,15.0,NaN,21011
43,24352,7,0,111,696.0,NaN,8373.0,6690.0,NaN,22.0,NaN,15892

In [208]:
non_active_customer_columns = ["MissionId",
                          "NumberOfLeads",
                          "FilterLoading",
                          "ReservationStatusUpdate",
                          "DeathStatusUpdate",
                          "DeleteInvalidUnpaid",
                          "DisableInvalidAndStoplists",
                          "UpdateCurrentPaid",
                          "AddNewUnpaid",
                          "PurchaseUnpaid",
                          "CalculateLeads",
                          "MapcloudMarkers",
                          "totalMissionTime"]

In [209]:
df_nonActiveCustomer = df[df["isCustomerActive"] == False]
len(df_nonActiveCustomer)

84

In [210]:
# make statistics
df_nonActiveCustomer.sort_values(by=['NumberOfLeads'], ascending=False)

,MissionId,NumberOfLeads,IsMissionHybrid,CustomerId,isCustomerActive,ListType,FilterLoading,ReservationStatusUpdate,DeathStatusUpdate,DeleteInvalidUnpaid,DisableInvalidAndStoplists,UpdateCurrentPaid,AddNewUnpaid,PurchaseUnpaid,CalculateLeads,MapcloudMarkers,totalMissionTime
12,24444,9904,False,436,False,Privat,0,722.0,164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,886
4,24461,8846,False,1194,False,Privat,0,618.0,158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,776
41,24354,6065,False,626,False,Privat,0,683.0,146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,829
72,24275,1764,False,626,False,Privat,0,484.0,192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,676
50,24337,1500,False,1258,False,Privat,0,539.0,155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,24204,33,False,1310,False,Privat,0,414.0,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,529
90,24224,32,False,1311,False,Privat,0,3119.0,163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3282
84,24236,11,False,1194,False,Privat,0,687.0,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,805
111,24175,8,False,994,False,Privat,0,485.0,139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,624
68,24287,1,False,1194,False,Privat,0,603.0,109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,712

In [227]:
leads_size = [0, 500, 1000, 1500, 2000, 5000, 10000]

0
500
1000
1500
2000
5000
10000

In [221]:
df_0_500 = df_nonActiveCustomer[df_nonActiveCustomer["NumberOfLeads"].between(0, 500)]
df_0_500.value_counts

selected_operations = ['ReservationStatusUpdate', 'DeathStatusUpdate', 'totalMissionTime']
df_0_500 = df_0_500[selected_operations]
df_0_500

     ReservationStatusUpdate  DeathStatusUpdate  totalMissionTime
0                      967.0                261              1233
1                     3181.0                153              3334
2                     2839.0                163              3002
5                     1809.0                161              1970
6                      643.0                157               800
..                       ...                ...               ...
121                    461.0                126               587
123                    423.0                131               554
124                    539.0                140               679
130                   1762.0                139              1901
131                    573.0                164               737

[62 rows x 3 columns]

In [222]:
df_0_500.describe()

       ReservationStatusUpdate  DeathStatusUpdate  totalMissionTime
count                62.000000          62.000000         62.000000
mean                808.177419         155.532258        963.790323
std                 634.767171          55.330221        639.506063
min                 376.000000          88.000000        492.000000
25%                 488.750000         120.250000        624.750000
50%                 581.000000         139.000000        734.000000
75%                 690.000000         163.750000        893.750000
max                3181.000000         416.000000       3334.000000